#msg {
    color : red;
}

#container {
    padding: 10px;
    overflow-x:hidden;
}

.card-body iframe{
    border: 0;
    width: 100%;
    overflow-x:hidden;
    overflow-y:hidden;
    overflow:auto;
    width:100%;
    min-height:800px;
    padding: 10px ;
}

.logout {
    text-decoration: underline;
    color: #0f6674;
}

.form-group label {
    margin-bottom: 10px;
}

.guide-word {
    font-size: 0.8em;
    margin: 10px;
    color: #dc3545;
}